html {
  /* show scrollbar regardless of page height */
  overflow-y: scroll;
  font-size: 14px;
}


h1 {
    font-family:
        consolas, monaco, courier, "courier new", fixed-width;
    font-size: 1.5em;
    text-align: center;
      font-weight: 500;

}

.inlineLink {
    color: #333;
    cursor: pointer;
    text-decoration: none;
    border-bottom: 1px solid #333333;
}


button {
    font-family:
            consolas, monaco, courier, "courier new", fixed-width;
    border: none;
    margin: 2px;
    border: 1px solid black;
}

p {
    line-height: 1.9em;
}

