.noBorder {
    border: none !important;
}

.flexContainer {
    border: 2px solid gray;
    width: 100%;
    display: flex;
    content: "flexContainer";

}

.gridContainer {
    display: grid;
    justify-content: center;
    /* The auto-fit width needs to be width-of-box+grid-gap */
    grid-template-columns: repeat(100, calc(95vw/100));
    grid-template-rows: repeat(100, calc(95vw/100));
}

.oneRowGridContainer {
    display: grid;
    justify-content: center;
    /* The auto-fit width needs to be width-of-box+grid-gap */
    grid-template-columns: repeat(100, calc(95vw/100));
    grid-template-rows: repeat(1, calc(95vw/100));
}


.justifyCenter {
    justify-content: center;
}

.justifySpaceEvenly {
    justify-content: space-evenly;
}

.flexBox {
    display: flex;
    width: 100%;
    height: 100%;
    border: 1px solid black;
    transition: background-color 0.5s ease;
    /* shadows on left and right of the box */
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.25);
    clip-path: inset(0px -15px 0px -15px);
}

.blackBox {
    background-color: black;
}

.redBox {
    background-color: palevioletred;
}

.codeBox {
    display: flex;
    transition: background-color 0.5s ease;
}

.oneLine {
    width: 30ch;
}

.autoWidth {
    width: auto;
}

.columnFlex {
    flex-direction: column;
}

.pixelGrid {
    display: grid;

    /* The auto-fit width needs to be width-of-box+grid-gap */
    grid-template-columns: repeat(auto-fit, 6px);
    grid-gap: 1px;
}

.pixelWidth {
    width: 5px;
    height: 5px;
    border: none;
}

.flexButton {
    display: flex;
    background: none;
    cursor: pointer;

}