:root {
  --my-cyan: 	#00e3de;
  --my-magenta: #da00e3;
  --my-yellow: #e8e800;
  --my-black: #111;
}

@font-face {
  font-family: "Lowres Videogame";
  src: url("./fonts/lowres_videogame.ttf");
}

.tosebody {
  color: var(--my-yellow);
  display: grid;
  grid-template-areas: "header header header"
                        "title title title"
                        "leftside content rightside"
                        ;

}
.tosetitle {
  color: var(--my-yellow);
}

.header {
  grid-area: header;
  height: 50px;
  background: whitesmoke;
    vertical-align: middle;
  position: relative;
}

.header ul {
  list-style-type: none;
  margin: auto;
  padding: 0;
  float: right;
  margin-right: 10vw;
  margin-top: 13px;

}

.header li {
  display: inline;
  font-size: 18px;
  margin-left: 2ch;
}

.title {
    color: var(--my-yellow);
    grid-area: title;
    font-family: "Lowres Videogame";
    font-size: 3rem;
    justify-self: center;
    text-align: center;

}

.content {
  grid-area: content;
  width: min(80vw, 90ch);
  margin: auto;
  font-size: 17px;

}

.content h2 {
  display: block;
  text-align: center;
    margin-top: 5rem;
  color: var(--my-magenta);

}

.content p {
  display: block;
  color: var(--my-cyan);

}


canvas {
    width: 100vw;
    height: 300vh;
    background: #111;
    position: absolute;
    z-index: -10;
}


@keyframes neon-magenta {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--my-magenta), 0 0 70px var(--my-magenta), 0 0 80px var(--my-magenta), rgb(117, 137, 158)px var(--my-magenta), 0 0 150px var(--my-magenta);
  }
  to {
    text-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px var(--my-magenta), 0 0 35px var(--my-magenta), 0 0 40px var(--my-magenta), 0 0 50px var(--my-magenta), 0 0 75px var(--my-magenta);
  }
}

@keyframes neon-yellow {
  from {
    text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #fff, 0 0 40px var(--my-yellow), 0 0 70px var(--my-yellow), 0 0 80px var(--my-yellow), rgb(117, 137, 158)px var(--my-yellow), 0 0 150px var(--my-yellow);
  }
  to {
    text-shadow: 0 0 1px #fff, 0 0 3px #fff, 0 0 4px #fff, 0 0 5px var(--my-yellow), 0 0 6px var(--my-yellow), 0 0 8px var(--my-yellow), 0 0 10px var(--my-yellow), 0 0 15px var(--my-yellow);
  }
}


h2:hover {
  -webkit-animation: neon-magenta 1.5s ease-in-out infinite alternate;
  -moz-animation: neon-magenta 1.5s ease-in-out infinite alternate;
  animation: neon-magenta 1.5s ease-in-out infinite alternate;
  cursor: default;
}


.title:hover {
  -webkit-animation: neon-yellow 1.5s ease-in-out infinite alternate;
  -moz-animation: neon-yellow 1.5s ease-in-out infinite alternate;
  animation: neon-yellow 1.5s ease-in-out infinite alternate;
  cursor: default;
}
